name: PR
on:
  - pull_request
  - workflow_dispatch
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm ci
      - run: npm test
      - uses: actions/upload-artifact@v6
        if: success() || failure()
        with:
          name: test-results
          path: |
            test-results.json
            coverage/lcov.info
  base_branch_cov:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.base_ref }}
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm ci
      - run: npm test
      - name: Upload code coverage for ref branch
        uses: actions/upload-artifact@v6
        if: success() || failure()
        with:
          name: ref-lcov
          path: ./coverage/lcov.info
  check_coverage:
    needs:
      - test
      - base_branch_cov
    permissions:
      issues: write
      pull-requests: write
      actions: read
      checks: read
      contents: read
      deployments: read
      discussions: read
      packages: read
      pages: read
      repository-projects: read
      security-events: read
      statuses: read
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
      - uses: romeovs/lcov-reporter-action@v0.4.0
        with:
          lcov-file: "test-results/coverage/lcov.info"
          lcov-base: "ref-lcov/lcov.info"
